/*Import polices*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

/* Color Theme Swatches in Hex */
.Whimsical-Sport-Illustrations-1-hex { color: #65768C; }
.Whimsical-Sport-Illustrations-2-hex { color: #D8EBF2; }
.Whimsical-Sport-Illustrations-3-hex { color: #A63F3F; }
.Whimsical-Sport-Illustrations-4-hex { color: #F27272; }
.Whimsical-Sport-Illustrations-5-hex { color: #D9A3A3; }

/*DEBUT Accueil*/
html{
    scroll-behavior: smooth;
}
body{
    margin:0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
header{
    padding: 60px;
    color: #000000;
    background-color: rgb(255, 255, 255);
}
#Presentation{
    height: 100vh;
    background-size: cover;
    background-image: url(../images/activites/boxe.jpg);
    filter: grayscale(50%);
}
nav #menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    font-weight: bolder;
    justify-content: space-evenly;
    width: 50%;
    position: absolute;
    right: 0;
    top:50px;
}
nav #menu a, nav #menu a:active, nav #menu a:after{
    text-decoration: none;
    color: #3a3a3a;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 25px;
    letter-spacing: 2px;
}
nav #menu a:hover{
    border-bottom:  #A63F3F solid 1px;
    color: #A63F3F;
}
#logo{
    position: absolute;
    top:10px;
    left: 30px;
    width: 200px;
    height: 100px;
    margin-top: 0;
}
#middle{
    position: absolute;
    top:55%;
    left:50%;
    transform: translate(-50%, -50%);
    font-family: 'Bebas Neue';
    font-size: 50px;
    color: #ffffff;
}
/*FIN Accueil*/

/*DEBUT page sports*/
h1{
    padding-top: 60px;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
}
.soulignement {
    background-color: #65768C;
    height: 2px;
    width:30%;
    position: relative;
    left:35%;
}
.imgsports{
    width:500px;
    height:375px;
    margin-top: 50px;
}
.conteneur{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.conteneur div h2, .conteneur div h3{
    text-align: center;
}
/*FIN page sports*/

/*DEBUT footer*/
footer{
    background-color: #65768C;
    padding:25px;
    margin-top: 100px;
    color: #ffffff;
}
footer ul li{
    list-style: none;
    line-height: 50px;
    margin: 0;
}
footer ul li a{
    text-decoration: none;
    color: #ffffff;

}
#pied{
    justify-content: space-evenly;
}
#pied h2{
    font-size: 30px;
    color: #A63F3F;
    text-align: center;
}
/*FIN footer*/