/*Import polices*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

/* Color Theme Swatches in Hex */
.Whimsical-Sport-Illustrations-1-hex { color: #65768C; }
.Whimsical-Sport-Illustrations-2-hex { color: #D8EBF2; }
.Whimsical-Sport-Illustrations-3-hex { color: #A63F3F; }
.Whimsical-Sport-Illustrations-4-hex { color: #F27272; }
.Whimsical-Sport-Illustrations-5-hex { color: #D9A3A3; }

/*DEBUT Accueil*/
html{
    scroll-behavior: smooth;
}
body{
    margin:0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

header{
    padding: 60px;
    color: #000000;
    background-color: rgb(255, 255, 255);
}
#Presentation{
    height: 100vh;
    background-size: cover;
    background-image: url(../images/activites/boxe.jpg);
    filter: grayscale(50%);
}
nav #menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    font-weight: bolder;
    justify-content: space-evenly;
    width: 50%;
    position: absolute;
    right: 0;
    top:50px;

}
nav #menu a, nav #menu a:active, nav #menu a:after{
    text-decoration: none;
    color: #3a3a3a;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 27px;
    letter-spacing: 2px;
}
nav #menu a:hover{
    border-bottom:  #A63F3F solid 1px;
    color: #A63F3F;
}
#logo{
    position: absolute;
    top:10px;
    left: 30px;
    width: 200px;
    height: 100px;
    margin-top: 0;
}
#middle{
    position: absolute;
    top:55%;
    left:50%;
    transform: translate(-50%, -50%);
    font-family: 'Bebas Neue';
    font-size: 50px;
    color: #ffffff;
}
#middle a, #middle a:active, #middle a:after{
    color:#ffffff;
    transition-duration: 0.3s;
}
#middle a:hover{
    transform: scale(1.05);
    color:#818181;
}
input{
    padding-left: 15px;
    border-radius: 10px;
    margin-right: 25px;
    width:250px;
    font-size: 25px;
    font-family: 'Roboto Condensed';
    letter-spacing: 2px;
}
#middle .conteneur{
    justify-content: center;
    margin: 25px 0px 0px 0px;
}
/*FIN Accueil*/

/*DEBUT page sports*/
h1{
    padding-top: 60px;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
}
h2, h3, h4 {
    font-family: 'Inconsolata', monospace;
}
.soulignement {
    background-color: #64758b;
    height: 2px;
    width:30%;
    position: relative;
    left:35%;
}
.imgsports{
    width:500px;
    height:375px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: #1c2430 10px 0px 15px;
    transition-duration: 0.3s;
    object-fit: cover;
}
.imgsports:hover{
    box-shadow: #6b7480 12px 0px 50px;
    transform: scale(1.03);
    cursor: pointer;

}
.conteneur{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin:0 30px;
}
.conteneur div h2, .conteneur div h3{
    text-align: center;
}
.conteneur div h3{
    font-weight: 100;
}
.showhide{
    padding-top: 50px;
    margin-right: 50px;
    text-align: right;
}
.showhide span {
    transition-duration: 0.6s;
    transition-property: all;
    cursor: pointer;
    font-size: 20px;
}
.showhide span:hover{
    color: #A63F3F;
    font-size: 22px;
    border-bottom: #D9A3A3 solid 2px;
}
#contenucaché{
    display: none;
}

/*FIN page sports*/

/*DEBUT page results*/

.generate-sport{

}


/*FIN results*/

/*DEBUT footer*/
footer{
    background-color: #1c2430;
    padding:25px 25px 10px 25px;
    margin-top: 100px;
    color: #ffffff;
    line-height: 1;
}
footer ul li{
    list-style: none;
    line-height: 50px;
    margin: 0;
}
footer ul li a{
    text-decoration: none;
    color: #ffffff;
}
#pied{
    justify-content:space-around;
}
#pied h2 span{
    font-size: 30px;
    color: #a31d1d;
    text-align: center;
    border-bottom: #65768C solid 2.5px;
}
#pied a:hover{
    border-bottom:#ffffff solid 1px;
}
#logoinfoot{
    width:200px;
    border-radius: 15px;
    filter: grayscale(0.6);
    transition-duration: 0.3s;
}
#logoinfoot:hover{
    transform: scale(1.04);
}
.centre{
    text-align: center;
}
#copyright{
    text-align:center;
}
/*FIN footer*/