/*Import polices*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

/* Color Theme Swatches in Hex */
.Whimsical-Sport-Illustrations-1-hex { color: #65768C; }
.Whimsical-Sport-Illustrations-2-hex { color: #D8EBF2; }
.Whimsical-Sport-Illustrations-3-hex { color: #A63F3F; }
.Whimsical-Sport-Illustrations-4-hex { color: #F27272; }
.Whimsical-Sport-Illustrations-5-hex { color: #D9A3A3; }

/*DEBUT Accueil*/
*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin:0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

header{
    padding: 45px;
    color: #000000;
    background-color: rgb(255, 255, 255);
    z-index: 2;
}
#Presentation{
    height: 100vh;
    background-size: cover;
    background-image: url(../images/activites/boxe.jpg);
    filter: grayscale(50%);
}
nav #menu{
    text-align: right;
}
nav #menu a, nav #menu a:active, nav #menu a:after{
    text-decoration: none;
    color: #3a3a3a;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 30px;
    letter-spacing: 2px;
    margin-right:50px;
}
nav #menu a:hover{
    border-bottom:  #A63F3F solid 1px;
    color: #A63F3F;
}
.logo{
    position: absolute;
    top:10px;
    left: 30px;
    width: 200px;
    height: 100px;
    margin-top: 0;
}
#middle{
    position: absolute;
    top:55%;
    left:50%;
    transform: translate(-50%, -50%);
    font-family: 'Bebas Neue';
    font-size: 50px;
    color: #ffffff;
}
#middle a, #middle a:active, #middle a:after{
    color:#ffffff;
    transition-duration: 0.3s;
}
#middle a:hover{
    transform: scale(1.05);
    color:#818181;
}
input{
    padding-left: 15px;
    border-radius: 10px;
    margin-right: 25px;
    width:300px;
    font-size: 25px;
    font-family: 'Roboto Condensed';
    letter-spacing: 2px;
}
#middle .conteneur{
    justify-content: center;
    margin: 25px 0px 0px 0px;
    flex-wrap: nowrap;
}
/*FIN Accueil*/

/*DEBUT page sports*/
h1{
    padding-top: 60px;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
}
h2, h3, h4 {
    font-family: 'Inconsolata', monospace;
}
.soulignement {
    background-color: #64758b;
    height: 2px;
    width:30%;
    position: relative;
    left:35%;
}
.imgsports{
    width:500px;
    height:375px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: #1c2430 10px 0px 15px;
    transition-duration: 0.3s;
    object-fit: cover;
}
.imgsports:hover{
    box-shadow: #6b7480 12px 0px 50px;
    transform: scale(1.03);
    cursor: pointer;

}
.conteneur{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin:0 30px;
}
.conteneur div h2, .conteneur div h3{
    text-align: center;
}
.conteneur div h3{
    font-weight: 100;
}
.showhide{
    padding-top: 50px;
    margin-right: 50px;
    text-align: right;
}
.showhide span {
    transition-duration: 0.6s;
    transition-property: all;
    cursor: pointer;
    font-size: 20px;
}
.showhide span:hover{
    color: #A63F3F;
    font-size: 22px;
    border-bottom: #D9A3A3 solid 2px;
}
#contenucaché{
    display: none;
}

/*FIN page sports*/

/*DEBUT page results*/
#result{
    background-color:#64758b;
    color: #e5eef1;
    margin: 0;
    padding: 0;
}
.notmainlogo{
    border-radius: 10px;
    width: 175px;
    height: 90px;
    top:20px;
    transition-duration: 0.6s;
}
.notmainlogo:hover{
    transform: scale(1.1);
}

#result header{
    padding: 15px;
    color: #dddddd;
    background-color: #1c2430;
    filter: grayscale(50%);
}
#result h1{
    padding-top: 5px;
}
#result h2{
    text-align: center;
} 
#result h3{
    text-align: center;
    font-weight: 100;
}
.imgresults{
    width: 475px;
    height: 375px;
}
#searchResults{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin:0 30px;
}
#noResults{
    font-family: 'Inconsolata', monospace;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/*FIN results*/

/*DEBUT inscription*/
#SignUp header{
    padding: 15px;
    color: #dddddd;
    background-color: #1c2430;
    filter: grayscale(50%);
}
#SignUp h1{
    padding-top: 5px;
}
form input[type=text], form input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    font-size: 17px;
    letter-spacing: 0;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}
label{
    font-size: 20px;
}
#ligneseparation {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
  
button {
    background-color: #65768C;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.8;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
}
  
button:hover {
    opacity:1;
}
  
  /*Styles pour button annuler*/
.cancelbtn {
    padding: 14px 20px;
    background-color: #a31d1d;
}
  
.cancelbtn, .signupbtn {
    float: left;
    width: 50%;
}
  
.formulaire {
    padding: 60px;
    width:100%;
}
.formulaire p{
    font-family: 'Roboto Condensed';
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
  
/*FIN inscription*/

/*DEBUT footer*/
footer{
    background-color: #1c2430;
    padding:25px 25px 10px 25px;
    margin-top: 100px;
    color: #ffffff;
    line-height: 1;
}
footer ul li{
    list-style: none;
    line-height: 50px;
    margin: 0;
}
footer ul li a{
    text-decoration: none;
    color: #ffffff;
}
.pied{
    justify-content:space-around;
}
.pied h2 span{
    font-size: 30px;
    color: #a31d1d;
    text-align: center;
    border-bottom: #65768C solid 2.5px;
}
.pied a:hover{
    border-bottom:#ffffff solid 1px;
}
#logoinfoot{
    width:200px;
    border-radius: 15px;
    filter: grayscale(0.6);
    transition-duration: 0.3s;
}
#logoinfoot:hover{
    transform: scale(1.04);
}
.centre{
    text-align: center;
}
#copyright{
    text-align:center;
}
/*FIN footer*/